@page "/cities"
@using TravelPortalBlazorCRUD.Components.Pages.Shared
@inject ICityService CityService
@attribute [StreamRendering(true)]

 

<h3>CityList</h3>

@if(cities == null)
{
    <span>Loading...</span>
}
else if (cities.Count == 0)
{
    <span>No City found .</span>
}

else
{
    @foreach (var city in cities)
    {
        <li> @city.Name <EditCityBtn Id="city.Id" /></li>
    }
}

<CreateCityBtn />


@code {
    List<City>? cities = null;

    protected override async Task OnInitializedAsync()
    {
        cities = await CityService.GetAllCity(); 
    }

 
}
