@attribute [StreamRendering(true)]
@page "/hotels"
@using TravelPortalBlazorCRUD.Components.Pages
@inject IHotelService HotelService
@inject ICityService CityService

<link href="./app.css" rel="stylesheet" />

<h3 class="text-center">Hotel List</h3>
<CreateHotelBtn />
@if (hotels == null)
{
    <span>Loading...</span>
}
else if (hotels.Count() == 0)
{
    <span>No Hotel found.</span>
}
else
{
    <div class="row">
        @foreach (var hotel in hotels)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@hotel.name</h5>
                        <div class="card-text">
                            @if (hotel.Photo != null)
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(hotel.Photo)" alt="Hotel Photo" class="card-img-top" />
                            }
                            else
                            {
                                <span>No Photo</span>
                            }
                        </div>
                        <div class="card-text">
                            @if (hotel.rating != null)
                            {
                                @for (int i = 1; i <= 5; i++)
                                {
                                    @if (i <= hotel.rating)
                                    {
                                        <span class="star">&#9733;</span>
                                    }
                                    else
                                    {
                                        <span class="star">&#9734;</span>
                                    }
                                }
                            }
                        </div>
                        <div>
                            <div>@cityNames.GetValueOrDefault(hotel.CityId, "Unknown City")</div>
                        </div>





                        <EditHotelBtn Id="hotel.Id" />
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    IEnumerable<Hotel>? hotels = null;
    Dictionary<Guid, string> cityNames = new Dictionary<Guid, string>();

    protected override async Task OnInitializedAsync()
    {
        hotels = await HotelService.GetAllAsync();
        var cities = await CityService.GetAllCity();
        cityNames = cities.ToDictionary(city => city.Id, city => city.Name);
    }
}
