@page "/cities"
@using TravelPortalBlazorCRUD.Components.Pages
@inject ICityService CityService
@attribute [StreamRendering(true)]
<link href="./app.css" rel="stylesheet" />
<h3 class="text-center">City List</h3>
<CreateCityBtn />
@if (cities == null)
{
    
}
else if (cities.Count == 0)
{
    <span>No City found.</span>
}
else
{
    <table class="styled-table">
        <thead>
            <tr>
                <th>City Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in cities)
            {
                <tr>
                    <td>@city.Name</td>
                    <td><EditCityBtn Id="city.Id" /></td>
                </tr>
            }
        </tbody>
    </table>
  
}

@code {
    List<City>? cities = null;

    protected override async Task OnInitializedAsync()
    {
        cities = await CityService.GetAllCity();
    }
}
